/Rs232/nbproject/private/
/Divisas/nbproject/private/
/Cuadrado/nbproject/private/
/Divisas/build/
/GeneraVecto5Dg/nbproject/private/
/GeneraVecto5Dg/build/
/CuadradoMagico/nbproject/private/
/CuadradoMagico/build/
/MatriContenida/nbproject/private/
/MatriContenida/build/
/Cuadrado/build/
